<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.quantscope.mapper.UserApiMapper">

    <resultMap id="BaseResultMap" type="com.developer.quantscopecommen.entity.UserApi">
      <result property="userId" column="userId" jdbcType="BIGINT"/>
      <result property="apiId" column="apiId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,apiId
    </sql>
</mapper>
