<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.developer.quantscoperagservice.mapper.RagJobEventMapper">

    <resultMap id="BaseResultMap" type="com.developer.quantscopecommon.entity.RagJobEvent">
      <id property="id" column="id" jdbcType="BIGINT"/>
      <result property="jobId" column="job_id" jdbcType="VARCHAR"/>
      <result property="eventType" column="event_type" jdbcType="VARCHAR"/>
      <result property="payload" column="payload" jdbcType="LONGVARCHAR"/>
      <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,job_id,event_type,payload,created_at
    </sql>
</mapper>
